body {
  background-image: url("../background.png");
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 940px;
}

th {
  text-align: left;
}

.nav_bar {
  background-color: black;
  line-height: 4em;
}

.nav_bar {
  margin: 0 auto;
}

.nav_bar ul {
  margin: 0 auto;
  margin-left: 75%;
  width: 100%;
}

.nav_bar ul li {
  display: inline;
}

.nav_bar a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  width: 150px;
}

.nav_bar a#active {
  color: #E9003A;
}

.nav_bar a:hover{
  color: #FFDE73;
}

.nav_bar a:hover:before{
  content: "{\00a0\00a0\00a0\00a0";
  color: #A0F06C;
}

.nav_bar a:hover:after{
  content: "\00a0\00a0\00a0\00a0}";
  color: #A0F06C;
}

#logo {
  font-size: 20pt;
  width: 250px;
  color: white;
  float: left;
}

#logo_red {
  color: #E9003A;
}

/** {
  border: 1px solid blue;
}*/
