.profile table td{
  padding-right: 24px;
  padding-bottom: 8px;
}

#divider{
  font-weight: lighter;
}



body {
  background-image: url("../background.png");
}

.container {
  margin: 75px auto;
  width: 940px;
}

th {
  text-align: left;
}

.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  line-height: 4em;
}

.nav_bar ul {
  float: right;
  display: block;
  margin: 0 auto;
}

.nav_bar ul li {
  display: inline;
}

.nav_bar a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  width: 150px;
}

.nav_bar ul a:hover{
  color: #FFDE73;
}

.nav_bar ul a:hover:before{
  content: "{\00a0\00a0\00a0\00a0";
  color: #A0F06C;
  font-weight: bold;
}

.nav_bar ul a:hover:after{
  content: "\00a0\00a0\00a0\00a0}";
  color: #A0F06C;
  font-weight: bold;
}

#logo {
  font-size: 20pt;
  width: 400px;
  float: left;
  text-align: left;
  padding-left: 50px;
}

#logo:hover {
  color: #A0F06C;
}

#logo strong {
  color: #E9003A;
}
