body {
  background-image: url("../background.png");
}

.container {
  margin-top: 75px;
  width: 940px;
}

th {
  text-align: left;
}

.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  line-height: 4em;
}

.nav_bar ul {
  float: right;
  display: block;
  margin: 0 auto;
}

.nav_bar ul li {
  display: inline;
}

.nav_bar a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  width: 150px;
}

.nav_bar #active {
  color: #E9003A;
  font-weight: bold;
}

.nav_bar #active:before{
  content: "// ";
  color: #A0F06C;
  font-weight: bold;
}

.nav_bar #disable:hover{
  color: #FFDE73;
}

.nav_bar #disable:hover:before{
  content: "{\00a0\00a0\00a0\00a0";
  color: #A0F06C;
  font-weight: bold;
}

.nav_bar #disable:hover:after{
  content: "\00a0\00a0\00a0\00a0}";
  color: #A0F06C;
  font-weight: bold;
}

#logo {
  font-size: 20pt;
  width: 250px;
  float: left;
}

#logo:hover {
  color: #A0F06C;
}

#logo strong {
  color: #E9003A;
}
