<div class='nav_bar'>
  <a href='/'><strong>Flashy</strong>Flash</a>
  
  <% if logged_in? %>
    <ul>
      <li><a href='go to new game'>New Game</a></li>
      <li><a href='go to profile'>Profile</a></li>
      <li><a href='logs the user out'>Log Out</a></li>
    </ul>
  <% end %>
</div>
