<div class='nav_bar'>
  <a href='/' id="logo"><strong id='logo_red'>Flashy</strong><% if current_user %><%=  current_user.first_name%><% else %>Flash<% end %></a>

  <ul>
  <% if logged_in? %>
    <li><a href='/game'>New Game</a></li>
    <li><a href='/my_profile'>Profile</a></li>
    <li><a href='/logout'>Log Out</a></li>
  <% else %>
    <li><a href='/login'>Login</a></li>
    <li><a href='/create_account'>Sign Up</a></li>
  <% end %>
  </ul>
</div>
