<div class='nav_bar'>
  <a href='/' id="logo"><strong id='logo_red'>Flashy</strong>Flash</a>

  <ul>
  <% if logged_in? %>
    <li><a href='/game' id="disable">New Game</a></li>
    <li><a href='/my_profile' id="active">Profile</a></li>
    <li><a href='/logout' id ="disable">Log Out</a></li>
  <% else %>
    <li><a href='/login' id="disable">Login</a></li>
    <li><a href='/create_account' id="disable">Sign Up</a></li>
  <% end %>
  </ul>
</div>
