<div class='nav_bar'>
 <p>
  <a href='/' id="logo"><strong id='logo_red'>Flashy</strong>Flash</a>
  
  <% if logged_in? %>
    <a href='/game'>New Game</a>
    <a href='/my_profile' id="active">Profile</a>
    <a href='logs the user out'>Log Out</a>
  <% end %>
</p>
</div>
