<div class="decks">
  <h3>Start a New Game</h3>
  <div>
    <table border="0">
<tr>
<th>Name</th>
<th>Topic</th>
</tr>
      <% Deck.all.each do |deck| %>
      <tr>
      <td><a href="/game/start_round/<%=deck.id%>"><%=deck.name%></a></td> 
      <td> <%=deck.topic%></tr>
      </tr>
      <% end %>
      </table>
    </ul>
  </div>
</div>



