
<div class='container'>
  
  <h3>Question: <%=@deck.cards.first.question%></h3>

  <form id='card_guess' action="/game/<%= @deck.id%>" method='post'>
    <input type='text' name='guess' placeholder="Guess Here">
    <input type='submit' value='Submit Guess!'>
  </form>


</div>
