
<div class='container'>
  

  <form class='guess' name='card_guess' id='card_guess' action="/game/<%=@round.id%>" method='post'>
    <h3>Question: <%=@active_card.question%></h3>
  
    <input type='text' name='guess' placeholder="Guess Here">
    <input type="hidden" name="remaining_card_ids" value="<%=@remaining_card_ids%>">
    <input type="hidden" name="current_card_id" value="<%=@active_card.id%>">
    <input type='submit' value='Submit Guess!'>
  </form>


</div>
