git check
<div>
  <h4>Hello, <%= current_user.name %></h4>
  <p>You have played <%= current_user.rounds.count %> rounds (need to add average correct or some toher stat here) </p>

  <h5>History of Completed Rounds:</h5>
      <% if current_user.rounds.length > 1 %>
        <% current_user.rounds.each do |round| %>
          <p> <%= Deck.find(round.deck_id).name%> (need to add % correct and % incorrect) </p>
        <% end %>
      <% else %>
        <p>You haven't played any games!</p>
         link to decks
      <% end %>

</div>
