<div id='create_account'>
  <form action='/create_account' method='post'>
    <input type='text' name='name' placeholder='Full Name' required><br>
    <input type='email' name='email' placeholder='Email' required><br>
    <input type='password' name='password' placeholder="Password" required><br>
    <input type='submit' value='Sign Up'>
  </form>
</div>
